body {
    font-family: 'Montserrat', sans-serif;
}

/*========================MEDIA QUERIES PANTALLA ANCHA===========*/
@media (min-width: 1200px){
    .titulo h1{
        font-size: 70px !important;
    }
    .titulo p{
        font-size: 40px !important;
    }
    p{
        font-size: 20px !important;
    }

}

/*========================MEDIA QUERIES PANTALLA EXTRA-SM===========*/
@media(max-width: 576px){
    .bullets{
        background-color: white !important;
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .bullets img{
        width: 100% !important;
    }
    .bullets h3{
        font-size:25px !important;
    }
    .bullets p{
        padding:20px !important;
    }
}